
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* ===================================================================== */

html, body {
    height: 100%;
  }

/* ===================================================================== */
 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #222;
    height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    scroll-behavior: smooth; 
}

/* ===================================================================== */

main {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* ===================================================================== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;          
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;   
    margin-top: 5px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; 
}


.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}


.nav-links a:hover {
    color: #f30303;
}

.nav-links a.active {
    background: #ffffff;
    color: #0078ff;
    font-weight: 600;
  }

/* ===================================================================== */

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .logo img {
    width: 70px;   
    height: 70px;
    border-radius: 50%; 
    object-fit: cover;   
    border: 2px solid #00bfff; 
  }

  .logo h1 {
    font-size: 25px;
    color: #222;
    font-weight: 400;

  }

  .logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #00bfff;
    transition: 0.3s;
  }

  .logo a{
    text-decoration: none;

  }

/* ===================================================================== */

.hero {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    margin-left: 100px;
    padding: 100px 80px;
    height: 85vh;
    gap: 100px;
}

/* .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    height: 85vh;
    gap: 100px;
} */
.hero img {
    height: calc(100vh - 60px - 50px); 
    object-fit: cover;
    margin: 0;
    padding: 0;
}
  

.intro {
    flex: 1;
    /* margin-top: 50px; */
}

.intro h2 {
    font-size: 70px;
    color: #222;
}

.intro h2 span {
    color: #0078ff;
}

.intro p {
    margin: 20px 0;
    font-size: 18px;
    color: #555;
    max-width: 400px;
}

.profile-photo img {
    height: 100%;
    margin-left: 11%;
    object-fit: cover; 
    max-width: 100%;
}


.social-links {
    margin-top: 25px;
}


.social-links a {
    text-decoration: none;
    color: #0078ff;
    font-size: 24px;
    margin-right: 18px;
    transition: 0.3s;
}


.social-links a:hover {
    color: #0056b3;
    transform: translateY(-3px);
}

/* ===================================================================== */

 /* ABOUT PAGE STYLES */
 .about-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}
  
.about-card {
    background-color: #f2f8ff;
    color: #1c1c1c;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 950px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}
  
.about-card h2 {
    font-size: 2rem;
    color: #0078ff;
    margin-bottom: 20px;
}
  
.about-text {
    line-height: 1.8;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
}


.about {
    max-width: 900px;
    margin: auto;
    text-align: left;
}

.about p {
    font-size: 1.1rem;
    color: #222;
    line-height: 1.8;
    max-width: 700px;
    margin: auto;
    text-align: justify;
}
  
.highlight {
    color: #0078ff;
    font-weight: bold;
}
/* ===================================================================== */

.project-grid {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .project-card {
    background: #f2f8ff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    width: 500px;
    height: 200px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s;

  }
  
.project-card:hover {
    transform: translateY(-5px);
}
  
.project-card h3{
    margin-top: 15px;

}

/* ===================================================================== */

/* CONTACT PAGE STYLES */
.contact-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
  }
  
  .contact-card {
    background-color: #f2f8ff;
    color: #1c1c1c;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .contact-card h2 {
    font-size: 2rem;
    color: #0078ff;
    margin-bottom: 20px;
  }
  
  .contact-text {
    line-height: 1.7;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  
  .contact-info p {
    margin: 8px 0;
    font-size: 1rem;
  }
  
  .contact a {
    color: #0078ff;
    text-decoration: none;
  }

  .contact-info a {
    color: #0078ff;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .find-me {
    margin-top: 30px;
    color: #0078ff;
    /* font-size: 1.2rem; */
    font-size: 20px;
  }

/* ===================================================================== */

.about, .projects, .contact {
    padding: 100px 60px;
    text-align: center;
    background: #fff;
    border-top: 1px solid #e4e4e4;
  }
  
  .about h2, .projects h2, .contact h2 {
    color: #0078ff;
    /* margin-bottom: 20px; */
    font-size: 60px;
    text-align: center;
  }

/* ===================================================================== */

.footer {
    text-align: center;
    padding: 26px;
    background: #eef3ff;;
    color: #555;
    font-size: 15px;
    margin-top: auto;
}  
 
.footer p {
    margin: 0;
} 

/* ===================================================================== */